<div {{ containerAttributes.addClass('nsw-card') }}>
  <strong>NSW Card</strong>
  NSW CARD
  {{ image }}
  {{ links }}
  {% if date %}
    <time
      datetime="{{ date|date('Y-m-d\TH:i:sP') }}"
    >{{ date|date('jS M Y') }}</time>
  {% endif %}
</div>

<div>
  Modifiers
  <ul>
    <li>1: {{ modifiers.contains('x') ? 'Yes' : 'No' }}</li>
{#    <li>1: {{ modifiers.contains(constant('PreviousNext\\Ds\Common\\Component\\Card\\CommonCardModifiers::Modifier1')) ? 'Yes' : 'No' }}</li>#}
{#    <li>1: {{ modifiers.contains(constant('PreviousNext\\Ds\Common\\Component\\Card\\CommonCardModifiers::Modifier2')) ? 'Yes' : 'No' }}</li>#}
  </ul>
</div>
